body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    ;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
picture {
    flex-shrink: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 
.container {
    /* max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto; */
    max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
}
/* header beginning */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    padding:24px 0;
    margin-right:76px;
}
.nav-lists {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    gap: 40px;
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-text {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.nav-list {
    padding: 24px 0;
    display: block;
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list.current {
    position: relative;
}
.nav-list.current::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.nav-list:hover,
.nav-list:focus,
.nav-list.current {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
.contact-menu {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-menu:hover,
.contact-menu:focus {
    color: #404bbf;
}
/* header ending */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    max-width: 496px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}
.hero-button {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    height: 56px;
    border-radius: 4px;
    border:none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* section-feature beginning */
.section-feature {
    /* padding: 120px 0; */
    padding: 96px 0;
}
.text-container {
    /* width: 1158px; */
}
.item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* gap:24px; */
    gap: 72px;
}
.feature-list-text {
    min-width: 264px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* flex-basis: calc((100% - 72px) / 3); */
}
.icons {
    display: none;
}
.feature-list {
    /* margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin:0 auto;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 8px;
}
.feature-text {
    /* font-weight: 400; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
/* section-feature ending */

/* our team beginning */

.container-team {
    /* min-width: 1158px; */
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    /* gap: 24px; */
    align-items: center;
    gap: 72px;
}
.team-section {
    background-color: #f4f4fd;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize
}
.team {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.media-link {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.media-link-list {
    display: flex;
    align-items: center;
}
.icon-team {
    fill: #f4f4fd;
}
.a-link:hover,
.a-link:focus {
    background-color: #404bbf;
}
.a-link {
    font-size: 0;
        padding: 12px;
        display: flex;
        background-color: #4D5AE5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}
.team-autor {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}
.div-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 8px;
}
/* our team ending */

/* our portfolio beginning */
.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.all-list-portfolio {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 48px;
        align-items: center;
}
    
.portfolio-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
.portfolio-div {
    position: relative;
    overflow: hidden;
}
.div-p-text {
    position: absolute;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    top:0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}
.some-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.some-portfolio {
    /* width: calc(100% - 48px ) / 3; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* out portfolio ending */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    margin: 0;
}
.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
}
.fotter-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.p-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.media-link-list-footer {
    display: flex;
    align-items: center;
}
.a-link-footer {
    font-size: 0;
        padding: 12px;
        display: flex;
        background-color: #4D5AE5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
}
.icon-team-footer {
    fill: #f4f4fd;
}
.a-link-footer:hover,
.a-link-footer:focus {
    background-color: #31d0aa;
}
.media-link-footer {
    display: flex;
    gap: 16px;
}
.fotter-container {
    margin-right: 120px;
    
}.media-link-list-footer {
    height: 40px;
    width: 40px;
    display: flex;
}
.div-footer-container {
    display: flex;
    flex-direction: row;
}
.div-footer {
    display: flex;
    flex-direction: column;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.form-footer {
    margin-left: 80px;
}
.footer-subscribe {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    margin-bottom: 16px;
}
.email-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        letter-spacing: 0.04em;
        line-height: 2;
        font-size: 12px;
        background-color: #2e2f42;
        color:#fff;
        background-color: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.form-class {
    display: flex;
    gap: 24px;
}
input::placeholder{
    color: #fff;
}
.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;;
}
.subscribe-class {
    margin-left: 16px;
    fill: #fff;
}
.backdrop {
    position: fixed;
    top:0;;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    margin: 0 auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-modal {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    top:24px;
    right: 24px;
    background-color: #e7e9fc;;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
    padding: 0;
}
.svg-modal-image {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-modal:hover,
.buttom-modal:focus {
    background-color: #404bbf;
    border: none;
}
.buttom-modal:hover > .svg-modal-image,.buttom-modal:focus > .svg-modal-image {
    fill: #ffffff;
}
.buttom-modal:hover,
.buttom-modal:focus {
    fill: #e7e9fc;
}
.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.div-container {
    margin-bottom: 8px;
}
.label-modal {
    display: block;
    margin-bottom: 4px; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.input-modal {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    color: #2e2f42;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:hover + .modal-icon,
.input-modal:focus+ .modal-icon {
    fill: #4D5AE5;  
}
.input-modal:hover,
.input-modal:focus {
    border-color: #4D5AE5;
}
.div-person {
    position: relative;
    display: flex;
}
.modal-icon {
    position: absolute; 
    top:50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-con {
    margin-bottom: 16px;
}
.textarea-class {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-class:hover,.textarea-class:focus {
    border-color: #4D5AE5;
}
.modal-con-chekbox {
    margin-bottom: 24px;
}
.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: #fff;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-label-user-checkbox {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.a-provacy-policy {
    line-height: 1.33333;
        text-decoration: underline;
        color: #4d5ae5;
}
.checkbox:checked + .custom-label-user-checkbox > .custom-checkbox {
    border:none;
    background-color: #404bbf;
    fill: #F4F4FD;
}
.modal-submit {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        cursor: pointer;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    /* section-feature beginning */
    .container {
        max-width: 768px;
    }
    .feature-list {
        margin: 0 0;
    }
    .item-list {
        gap: 72px 24px;
    }
    .feature-list-text {
        flex-basis: calc((100% - 24px) / 2);
    }
    /* section-feature ending */

    /* our team beginning */
    .container-team {
        padding-left: 108px;
        padding-right: 108px;
    }
    .team-list {
        gap: 64px 24px;
    }
    /* our team ending */

    /* portfolio beginning */
    .all-list-portfolio {
        justify-content: space-between;
        row-gap: 72px;
    }
    .some-portfolio {
        width: calc(100% - 24px) / 2;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* section-feature beginning */
    .section-feature {
        padding: 120px 0;
    }
    .text-container {
        width: 1158px;
    }
    .item-list {
        flex-wrap: nowrap;
    }
    .item-list {
        display: flex;
        gap: 24px;
    }
    .feature-list-text {
        flex-basis: calc((100% - 72px) / 3);
    }
    .feature-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .feature-text {
        font-weight: 400;
    }
    .icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 0;
    gap: 24px;
    }
    .icon-sec {
    margin: auto;
    }
    /* section-feature ending */

    /* our team beginning */
    .container-team {
        min-width: 1158px;
    }
    .team-list {
        gap: 24px;
    }
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    /* our team ending */

    /* portfolio beg */
        .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
        }
        .all-list-portfolio {
                gap: 24px;
                row-gap: 48px;
                }
        .some-portfolio {
            width: calc(100% - 48px) / 3;
        }
        .some-portfolio:hover .div-p-text {
            transform: translateY(0);
        }
        /* portfolio end */
}